@page
@model DMS.Pages.Room.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Room.Name)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Room.Name)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Room.MaxCapacity)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Room.MaxCapacity)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Room.Age_Bracket)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Room.Age_Bracket.Name)
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Room.Is_Active)
        </dt>
        <dd class="col-sm-6">
            @if (Model.Room.Is_Active) { <span>Yes</span> }
            else { <span>No</span> }
            @*@Html.DisplayFor(model => model.Room.Is_Active)*@
        </dd>
        <dt class="col-sm-6">
            @Html.DisplayNameFor(model => model.Room.Description)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.Room.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.Room_Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
