@page
@model DMS.Pages.Room.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of rooms</h1>

<p>
    <a asp-page="Create">Create a new Room</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Room
            </th>
            <th>
                # Teachers+TAs
            </th>
            <th>
                # Students
            </th>
            <th>
                #Students out of<br />Age Bracket
            </th>
            <th>
                Avg Student Age
            </th>
            <th>
                Youngest Student
            </th>
            <th>
                Oldest Student
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomGeneralInfo_List)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Room_Id">@item.Room_Name</a>
                    <br />
                    <small>
                        Max: @item.Room_MaxCapacity,
                        <br />Age: @item.Room_Bracket_Name
                    </small>
                    @if (item.Room_Is_Active == false)
                    {
                        <div><strong>Closed</strong></div>
                    }

                </td>
                <td>
                    @item.TeachersInRoom + @item.TAsInRoom
                </td>
                <td>
                    @item.StudentsInRoom
                </td>
                <td>
                    @if (@item.StudentsOutOfAgeBracket > 0)
                    {
                        <div class="p-3 mb-2 bg-danger text-white">@item.StudentsOutOfAgeBracket</div>
                    }
                    else
                    { <span>@item.StudentsOutOfAgeBracket</span>}
                </td>
                <td>
                    @item.Average_Student_Age_String()
                </td>
                <td>
                    @if (item.Youngest_Student_Id > 0)
                    {
                        <span>
                            <a asp-page="../Student/Details" asp-route-id="@item.Youngest_Student_Id">@item.Youngest_Student_Name</a>
                            <br /><small>(@item.Youngest_Student_Age_String())</small>
                        </span>
                    }
                    else
                    {
                        <span>N/A</span>
                    }

                </td>
                <td>
                    @if (item.Oldest_Student_Id > 0)
                    {
                        <span>
                            <a asp-page="../Student/Details" asp-route-id="@item.Oldest_Student_Id">@item.Oldest_Student_Name</a>
                            <br /><small>(@item.Oldest_Student_Age_String())</small>
                        </span>
                    }
                    else
                    { <span>N/A</span>}
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Room_Id"><i class="fas fa-pencil-alt"></i></a> |
                    @if (item.StudentsInRoom == 0)
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Room_Id"><i class="fas fa-trash"></i></a>
                    }
                    else
                    {
                        <span title="Cannot delete room while at least one student is assigned to it."><i class="fas fa-trash"></i></span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>