@page "{pageSize:int=10}"
@model DMS.Pages.Person.IndexModel

@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.Persons_List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Persons_List.HasNextPage ? "disabled" : "";
    var allPaginationDisabled = Model.Persons_List.TotalPages < 2 ? "disabled" : "";
    var tenDisabled = Model.PageSize == 10 ? "disabled" : "";
    var twentyDisabled = Model.PageSize == 20 ? "disabled" : "";
}

<h1>System Personnel</h1><p>
    <a asp-page="Create">Create New Person Record</a>
</p>
<form method="post">
    <div class="container p-3 mb-2 bg-light border">
        Optional Filters
        <div class="row ">
            <div class="col-sm">
                <div class="form-group">
                    <select asp-for="SelectedFilterPersonTypeId" class="form-control" asp-items="ViewBag.Person_Types">
                        <option value="0">-- Choose Person Type --</option>
                    </select>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-group">
                    <select asp-for="SelectedFilterPersonnelActiveStatus" class="form-control" asp-items="@Model.PersonnelActiveStatusOptions"></select>
                </div>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" placeholder="Search name or room" name="SearchString" value="@Model.CurrentFilter" />
            </div>
            <div class="col-sm">
                <button class="btn btn-primary" type="submit"
                        asp-page-handler="Filtered"
                        asp-route-sortOrder="@Model.CurrentSort"
                        asp-route-pageIndex="1"
                        asp-route-currentFilter="@Model.CurrentFilter">
                    <i class="fas fa-filter"></i>Filter
                </button>
                <a class="btn btn-secondary" asp-page="./Index"><i class="fas fa-list-alt"></i>&nbsp;Clear Filters</a>
            </div>
        </div>
    </div>
</form>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.SortByName" 
                   asp-route-currentFilter="@Model.CurrentFilter">Name</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.SortByActive" 
                   asp-route-currentFilter="@Model.CurrentFilter">Active?</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.SortByPersonType" 
                   asp-route-currentFilter="@Model.CurrentFilter">Type</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.SortByAdditionalData" 
                   asp-route-currentFilter="@Model.CurrentFilter">Additional Data</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Persons_List)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Person_Id">@item.Name</a>
                </td>
                <td>
                    @if (item.Is_Active)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @item.Person_Type_Name
                </td>
                <td>
                    @item.Person_Qualifier
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Person_Id"><i class="fas fa-pencil-alt"></i></a> |
                    @if (item.Is_Active || item.Person_Qualifier.ToLower() != "none")
                    {
                        <span title="Set active flag to false and remove this person from any assignments before deleting."><i class="fas fa-trash-alt"></i></span>
                    }
                    else
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Person_Id"><i class="fas fa-trash-alt"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <ul class="pagination">
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               class="page-link"><i class="fas fa-fast-backward"></i></a>
        </li>
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Persons_List.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" disabled>@Model.PagerInfo</a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Persons_List.PageIndex + 1)"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-currentFilter="@Model.CurrentFilter"                
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               class="page-link"><i class="fas fa-step-forward"></i></a>
        </li>
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.TotalPages"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               class="page-link"><i class="fas fa-fast-forward"></i></a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @tenDisabled" 
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               asp-route-pageSize="10">10 per page</a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @twentyDisabled" 
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-selectedFilterPersonTypeId="@Model.SelectedFilterPersonTypeId"
               asp-route-selectedFilterPersonnelActiveStatus="@Model.SelectedFilterPersonnelActiveStatus"
               asp-route-pageSize="20">20 per page</a>
        </li>
    </ul>
</div>