@page
@model DMS.Pages.Contact.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Person)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Contact_Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact_Type.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Contact_Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Contact_Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Contact_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
