@page
@model DMS.Pages.Lookups.Contact_Type.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact_Type[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact_Type) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Contact_Type_Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Contact_Type_Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Contact_Type_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
