@page "{pageSize:int=10}/{currentPage:int?}"
@model DMS.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Students</h3>

<p>
    <a asp-page="Create">Create New Student Record</a>
</p>
Page size: @Model.PageSize
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Birthdate
            </th>
            <th>
                Active?
            </th>
            <th>
                In Rooms
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students_List)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Student_Id">@item.Student_Name</a>
                </td>
                <td>
                    @item.Birthdate.ToShortDateString()
                </td>
                <td>
                    @if (item.Is_Active)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @item.AssignedToRooms
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Student_Id"><i class="fas fa-pencil-alt"></i></a> |
                    @if (item.Is_Active || item.AssignedToRooms != "N/A")
                    {
                        <span title="Set active flag to false and remove this student from any rooms before deleting."><i class="fas fa-trash-alt"></i></span>
                    }
                    else
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Student_Id"><i class="fas fa-trash-alt"></i></a>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <ul class="pagination">
        <li class="page-item @(!Model.ShowFirst? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="1" class="page-link"><i class="fas fa-fast-backward"></i></a>
        </li>

        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link"><i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" disabled>@Model.CurrentPage of @Model.TotalPages (@Model.Count records)</a>
        </li>
        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link"><i class="fas fa-step-forward"></i></a>
        </li>

        <li class="page-item  @(!Model.ShowLast? "disabled":"")">
            <a asp-page="./Index" asp-route-CurrentPage="@Model.TotalPages" class="page-link"><i class="fas fa-fast-forward"></i></a>
        </li>
    </ul>
</div>