@page "{pageSize:int=10}"
@*@page "{pageSize:int=10}/{currentPage=1}/{sortBy=Student_Name}"*@

@model DMS.Pages.Student.IndexModel

@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.Students_List.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Students_List.HasNextPage ? "disabled" : "";
    var allPaginationDisabled = Model.Students_List.TotalPages < 2 ? "disabled" : "";
    var tenDisabled = Model.PageSize == 10 ? "disabled" : "";
    var twentyDisabled = Model.PageSize == 20 ? "disabled" : "";
}

<h3>Students</h3>

<p>
    <a asp-page="Create">Create New Student Record</a>
</p>
Sort: @Model.CurrentSort

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or room:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<div>
    <ul class="pagination">
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link"><i class="fas fa-fast-backward"></i></a>
        </li>
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Students_List.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" disabled>@Model.PagerInfo</a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Students_List.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter" class="page-link"><i class="fas fa-step-forward"></i></a>
        </li>
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.TotalPages"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link"><i class="fas fa-fast-forward"></i></a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @tenDisabled" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-pageSize="10">10 per page</a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @twentyDisabled" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-pageSize="20">20 per page</a>
        </li>
    </ul>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">Name</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.BirthdateSort" asp-route-currentFilter="@Model.CurrentFilter">Birthdate</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.IsActiveSort" asp-route-currentFilter="@Model.CurrentFilter">Active?</a>
            </th>
            <th>
                <a asp-page="./Index" class="sort-link" asp-route-sortOrder="@Model.RoomSort" asp-route-currentFilter="@Model.CurrentFilter">In Rooms</a>
            </th>
            <th>
                Guardians
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students_List)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Student_Id">@item.Student_Name</a>
                </td>
                <td>
                    @item.Birthdate.ToShortDateString()
                </td>
                <td>
                    @if (item.Is_Active)
                    {
                        <span>Yes</span>
                    }
                    else
                    {
                        <span>No</span>
                    }
                </td>
                <td>
                    @item.AssignedToRooms
                </td>
                <td>@item.AssignedToParents</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Student_Id"><i class="fas fa-pencil-alt"></i></a> |
                    @if (item.Is_Active || item.AssignedToRooms != "N/A")
                    {
                        <span title="Set active flag to false and remove this student from any rooms before deleting."><i class="fas fa-trash-alt"></i></span>
                    }
                    else
                    {
                        <a asp-page="./Delete" asp-route-id="@item.Student_Id"><i class="fas fa-trash-alt"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <ul class="pagination">
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="1"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link"><i class="fas fa-fast-backward"></i></a>
        </li>
        <li class="page-item @prevDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Students_List.PageIndex - 1)"
               asp-route-currentFilter="@Model.CurrentFilter" class="page-link">
                <i class="fas fa-step-backward"></i>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" disabled>@Model.PagerInfo</a>
        </li>
        <li class="page-item @nextDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@(Model.Students_List.PageIndex + 1)"
               asp-route-currentFilter="@Model.CurrentFilter" class="page-link"><i class="fas fa-step-forward"></i></a>
        </li>
        <li class="page-item @allPaginationDisabled">
            <a asp-page="./Index"
               asp-route-sortOrder="@Model.CurrentSort"
               asp-route-pageIndex="@Model.TotalPages"
               asp-route-currentFilter="@Model.CurrentFilter"
               class="page-link"><i class="fas fa-fast-forward"></i></a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @tenDisabled" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-pageSize="10">10 per page</a>
        </li>
        <li>
            <a asp-page="./Index" class="btn btn-primary ml-1 @twentyDisabled" asp-route-sortOrder="@Model.CurrentSort"
               asp-route-currentFilter="@Model.CurrentFilter"
               asp-route-pageSize="20">20 per page</a>
        </li>
    </ul>
</div>